.login {
    margin-bottom: 5rem;
}

.profile {
    display: flex;
}

.profile form {
    flex: 1
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile p {
    text-align: center;
    color: gray;
    font-weight: 500;
}